{"type":"resource-snapshot","snapshot":{"_resourceType":"document","time":594.5,"timings":{"wait":450.5},"request":{"url":"https://www.wegmans.com/","method":"GET"},"response":{"status":200,"_transferSize":43165,"content":{"size":235353,"mimeType":"text/html"},"headers":[{"name":"content-encoding","value":"gzip"}]}}}
{"type":"resource-snapshot","snapshot":{"_resourceType":"script","time":1026.5,"timings":{"wait":700},"request":{"url":"https://www.wegmans.com/_next/static/chunks/big.js","method":"GET"},"response":{"status":200,"_transferSize":50000,"content":{"size":120000,"mimeType":"application/javascript"},"headers":[]}}}
{"type":"resource-snapshot","snapshot":{"_resourceType":"image","time":300,"timings":{"wait":100},"request":{"url":"https://images.wegmans.com/hero.jpg","method":"GET"},"response":{"status":200,"_transferSize":2205000,"content":{"size":2205000,"mimeType":"image/jpeg"},"headers":[]}}}
{"type":"resource-snapshot","snapshot":{"_resourceType":"fetch","time":200,"timings":{"wait":150},"request":{"url":"https://images.wegmans.com/api/x","method":"GET"},"response":{"status":404,"_transferSize":500,"content":{"size":0,"mimeType":"application/json"},"headers":[]}}}
{"type":"resource-snapshot","snapshot":{"_resourceType":"script","time":1499,"timings":{"wait":-1},"request":{"url":"blob:https://www.wegmans.com/abc","method":"GET"},"response":{"status":200,"_transferSize":0,"content":{"size":10,"mimeType":"application/javascript"},"headers":[]}}}
{"type":"resource-snapshot","snapshot":{"_resourceType":"fetch","time":2.5,"timings":{"wait":0.5},"request":{"url":"https://www.wegmans.com/api/cart","method":"POST"},"response":{"status":201,"_transferSize":100,"content":{"size":50,"mimeType":"application/json"},"headers":[]}}}
{"type":"resource-snapshot","snapshot":{"_resourceType":"fetch","time":3.5,"timings":{"wait":1.5},"request":{"url":"https://www.wegmans.com/api/cart/1","method":"PUT"},"response":{"status":200,"_transferSize":100,"content":{"size":50,"mimeType":"application/json"},"headers":[]}}}
{"type":"resource-snapshot","snapshot":{"_resourceType":"fetch","time":5,"timings":{"wait":5},"request":{"url":"https://www.wegmans.com/api/cart/1","method":"DELETE"},"response":{"status":204,"_transferSize":100,"content":{"size":50,"mimeType":"application/json"},"headers":[]}}}
{"type":"resource-snapshot","snapshot":{"_resourceType":"fetch","time":40,"timings":{"wait":10},"request":{"url":"https://www.wegmans.com/api/cart/lineitem","method":"POST"},"response":{"status":-1,"_transferSize":0,"content":{"size":0,"mimeType":""},"headers":[]}}}
{"type":"context-options"}
